{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>

</style>

<section class="hero">
    <div class="content">
        <h2>DEAL GAMES</h2>

    </div>
    <div class="waves"></div>
</section>

<div class="headline m-5 text-center">
    <h2> Que recherchez-vous ? </h2>

</div>

<div class="container-fluid">
    <div class="card-container row justify-content-evenly">
        <div class="card card__category  text-white">
            <img class="card-img" src="images/2.jpg" alt="Card image">
            <div class="card-img-overlay">
                <h2 class="card-title"><a href="{{path('app_catalog', {id : 1})}}">Jeux-Vidéos</a></h5>

            </div>
        </div>

        <div class="card card__category  text-white">
            <img class="card-img" src="images/3.jpg" alt="Card image">
            <div class="card-img-overlay">
                <h2 class="card-title"><a href="{{path('app_catalog', {id : 2})}}">Console</a></h5>
            </div>
        </div>

        <div class="card card__category  text-white">
            <img class="card-img" src="images/1.jpg" alt="Card image">
            <div class="card-img-overlay">
                <h2 class="card-title"><a href="{{path('app_catalog', {id : 5})}}">Accessoires</a></h5>
            </div>
        </div>

    </div>


    <div class="headline m-5 pt-5 text-center">
        <h2>Nouvelles annonces</h2>
    </div>
    
   <div class="row m-5 justify-content-center">
    {% for annonce in annonces %}
 
        <div class="col-5 mt-3">
            <div class="card row-fluid h-100">
                <div class="card-horizontal">
                    <div class="img-square-wrapper col-4">
                        <img class="img-fluid card__image"
                            src="{{ annonce.imageName ? vich_uploader_asset(annonce) : asset('uploads/placeholder.jpg') }}"
                            alt="Card image cap">
                    </div>
                    <div class="card-body col-4">

                        <h4 class="card-title"> <a href="{{ path('app_annonce_show', {'id': annonce.id})}}"
                                class="stretched-link">{{ annonce.title }}</a> </h4>
                        <p class="card-text">{{ annonce.description }}</p>
                        <p class="card-text">{{ annonce.user.pseudo }}</p>
                        <p class="card-text">{{ annonce.city }}</p>

                    </div>
                </div>

            </div>
        </div>
    
    {% endfor %}
</div>

</div>
{% endblock %}