{% extends 'base.html.twig' %}

{% block title %}Dealgames - Annonces{% endblock %}



{% block body %}

<div class="headline m-5 pt-5 text-center ">
        <h2> Top annonces </h2>
    </div>

 {% for annonce in annonces %}
    <div class="row card__product m-5">
        <div class="col-5 mt-3">
            <div class="card row-fluid">
                <div class="card-horizontal">
                    <div class="img-square-wrapper col-4">
                        <img class="img-fluid card__image" src="{{ annonce.imageName ? vich_uploader_asset(annonce) : asset('uploads/placeholder.jpg') }}" alt="Card image cap">
                    </div>
                    <div class="card-body col-4">
                          <a href="{{ path('app_annonce_show', {'id': annonce.id})}}" class=" stretched-link"></a>
                        <h4 class="card-title">{{ annonce.title }}</h4>
                        <p class="card-text">{{ annonce.description }}</p>
                        <p class="card-text">{{ annonce.user.pseudo }}</p>
                        <p class="card-text">{{ annonce.city }}</p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
 {% endfor %}







{% endblock %}